templates/partials/faq.jade
section(ng-controller='FaqController')
  .container
    h3 What happens next?
    .row
      .col-sm-3
        h4 Step 1
        p Find matching helpers using our search & filter functions.
      .col-sm-3
        h4 Step 2
        p See helpers you like? Offer them a price to start hiring process.
      .col-sm-3
        h4 Step 3
        p Negotiate terms of work & price. Hire the one that works for you!
      .col-sm-3
        h4 Step 4
        p Pay before starting. Track your payments in our platform.
    hr
    p Need help? Click on the chat button on the bottom right and talk to us!
    a(ui-sref='findHelper') << Go back to finding helpers

  
    

partials/faq.html

<section ng-controller="FaqController">
  <div class="container">
    <h3>What happens next?</h3>
    <div class="row">
      <div class="col-sm-3">
        <h4>Step 1</h4>
        <p>Find matching helpers using our search & filter functions.</p>
      </div>
      <div class="col-sm-3">
        <h4>Step 2</h4>
        <p>See helpers you like? Offer them a price to start hiring process.</p>
      </div>
      <div class="col-sm-3">
        <h4>Step 3</h4>
        <p>Negotiate terms of work & price. Hire the one that works for you!</p>
      </div>
      <div class="col-sm-3">
        <h4>Step 4</h4>
        <p>Pay before starting. Track your payments in our platform.</p>
      </div>
    </div>
    <hr/>
    <p>Need help? Click on the chat button on the bottom right and talk to us!</p><a ui-sref="findHelper"><< Go back to finding helpers</a>
  </div>
</section>
