templates/partials/filters.jade
.row
  .card
    .cardbody
      label 大家都付多少錢？
      h4.accent(style='margin-top:-2px;') {{ marketPrice | currency}} / 小時
      button.btn.btn-sm.btn-default(type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter") 搜索條件
      button.btn.btn-sm.btn-default(ng-click="goToAnchor('setPrice')") 價格提醒
      .collapse#collapseFilter
        hr
        .form-group
          label 選擇服務
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.h_cleaning", ng-change='shuffle(sellers, false);') 
              |深層清潔
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.l_cleaning", ng-change='shuffle(sellers, false);') 
              |表層清潔
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.wash_dry", ng-change='shuffle(sellers, false);')
              |洗晾衣物
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.ironing", ng-change='shuffle(sellers, false);')
              |熨燙衣物
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.meal_prep", ng-change='shuffle(sellers, false);')
              |煮食備餐
          .checkbox
            label
              input(name='tasks', type='checkbox', ng-model="filter.tasks.babysitting", ng-change='shuffle(sellers, false);')
              |保姆陪月
        .form-group
          label 選擇價格 {{ filter.price }}
          .radio
            label
              input(type='radio', ng-model='filter.price', value="10.01")
              | $50 / 小時 以內
          .radio
            label
              input(type='radio', ng-model='filter.price', value="13.01")
              | $70 / 小時 以內
          .radio
            label
              input(type='radio', ng-model='filter.price', value="16.01")
              | $90 / 小時 以內
          .radio
            label
              input(type='radio', ng-model='filter.price', value="20.01")
              | $110 / 小時 以內
        .form-group
          label 我的收藏
          .checkbox
            label 
              input(type='checkbox', ng-model='filter.fav')
              | 只顯示我的收藏
        .form-group
          button.btn.btn-default(ng-click='clearFilters();') 清除篩選

partials/filters.html

<div class="row">
  <div class="card">
    <div class="cardbody">
      <label>大家都付多少錢？</label>
      <h4 style="margin-top:-2px;" class="accent">{{ marketPrice | currency}} / 小時</h4>
      <button type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" class="btn btn-sm btn-default">搜索條件</button>
      <button ng-click="goToAnchor('setPrice')" class="btn btn-sm btn-default">價格提醒</button>
      <div id="collapseFilter" class="collapse">
        <hr/>
        <div class="form-group">
          <label>選擇服務</label>
          <div class="checkbox">
            <label>
              <input name="tasks" type="checkbox" ng-model="filter.tasks.h_cleaning" ng-change="shuffle(sellers, false);"/>深層清潔
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="tasks" type="checkbox" ng-model="filter.tasks.l_cleaning" ng-change="shuffle(sellers, false);"/>表層清潔
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="tasks" type="checkbox" ng-model="filter.tasks.wash_dry" ng-change="shuffle(sellers, false);"/>洗晾衣物
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="tasks" type="checkbox" ng-model="filter.tasks.ironing" ng-change="shuffle(sellers, false);"/>熨燙衣物
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="tasks" type="checkbox" ng-model="filter.tasks.meal_prep" ng-change="shuffle(sellers, false);"/>煮食備餐
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="tasks" type="checkbox" ng-model="filter.tasks.babysitting" ng-change="shuffle(sellers, false);"/>保姆陪月
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>選擇價格 {{ filter.price }}</label>
          <div class="radio">
            <label>
              <input type="radio" ng-model="filter.price" value="10.01"/>$50 / 小時 以內
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="filter.price" value="13.01"/>$70 / 小時 以內
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="filter.price" value="16.01"/>$90 / 小時 以內
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="filter.price" value="20.01"/>$110 / 小時 以內
            </label>
          </div>
        </div>
        <div class="form-group">
          <label>我的收藏</label>
          <div class="checkbox">
            <label> 
              <input type="checkbox" ng-model="filter.fav"/>只顯示我的收藏
            </label>
          </div>
        </div>
        <div class="form-group">
          <button ng-click="clearFilters();" class="btn btn-default">清除篩選</button>
        </div>
      </div>
    </div>
  </div>
</div>
