templates/partials/forgetpassword.jade
section(ng-controller="ForgetPasswordController")
  .container
    h2 忘記密碼？
    p 請輸入您在本網站註冊的電郵地址，我們將發送密碼重設鏈接至您的電子信箱。
    form(name="resetForm", ng-submit="submitForm(resetForm.$valid)", novalidate)
      .form-group
        label 您的電郵
        input(name='email', type='email', ng-model="email", required).form-control
        div(ng-messages='resetForm.email.$error').errorMsg
          p(ng-message='email') 請輸入正確的電郵地址
          p(ng-message='required') 請輸入您的電郵地址
        button.btn.btn-default(type='submit') 發送

partials/forgetpassword.html

<section ng-controller="ForgetPasswordController">
  <div class="container">
    <h2>忘記密碼？</h2>
    <p>請輸入您在本網站註冊的電郵地址，我們將發送密碼重設鏈接至您的電子信箱。</p>
    <form name="resetForm" ng-submit="submitForm(resetForm.$valid)" novalidate="novalidate">
      <div class="form-group">
        <label>您的電郵</label>
        <input name="email" type="email" ng-model="email" required="required" class="form-control"/>
        <div ng-messages="resetForm.email.$error" class="errorMsg">
          <p ng-message="email">請輸入正確的電郵地址</p>
          <p ng-message="required">請輸入您的電郵地址</p>
        </div>
        <button type="submit" class="btn btn-default">發送</button>
      </div>
    </form>
  </div>
</section>
