partials/login.html

<section ng-controller="LoginController" class="sellerlist">
  <div class="container">
    <div class="col-sm-6 col-sm-push-3">
      <h1>登入</h1>
      <form>
        <div class="form-group">
          <label>電郵</label>
          <input type="text" placeholder="Email" ng-model="email" class="form-control"/>
        </div>
        <div class="form-group">   
          <label>密碼</label>
          <input type="password" placeholder="********" ng-model="password" class="form-control"/>
        </div>
        <div style="margin-top:3px;" class="forget-password small"></div>
        <button ng-click="logIn()" class="btn btn-success">登入</button>
        <button ui-sref="forgetPassword" class="btn btn-default">忘記密碼</button>
      </form>
      <hr/>
      <p>您是新用戶？ </p><a ui-sref="/"><< 請先開始搜尋您需要的家務助理</a>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>

templates/partials/login.jade
section.sellerlist(ng-controller="LoginController")
  .container
    .col-sm-6.col-sm-push-3
      h1 登入
      form
        .form-group
          label 電郵
          input.form-control(type='text', placeholder='Email', ng-model='email')
        .form-group    
          label 密碼
          input.form-control(type='password', placeholder='********', ng-model='password')
        .forget-password.small(style='margin-top:3px;')
        button.btn.btn-success(ng-click='logIn()') 登入
        button.btn.btn-default(ui-sref='forgetPassword') 忘記密碼
      hr
      p 您是新用戶？ 
      a(ui-sref='/') << 請先開始搜尋您需要的家務助理
include altfooter.jade
