templates/partials/mainpage.jade
div(ng-controller="MainPageController")
  section.main-splash
    .container.text-center(style='display:table; min-height:280px;')
      .jumbotron
        .row
          .col-sm-12
            h1 Find a freelance helper near you
            h3 搜尋您家附近的家務助理
            br
            p All you need to hire helper in one place
            p 一站式的家務助理揀選、僱傭、支付平台
            
  section.search-bar
    .container
      .row
        .col-sm-12
          p Find by Task | 根據服務內容揀選:
          .input-group
            input(ng-click="openSearch()", placeholder="").form-control.input-lg.hidden-xs
            input(ng-click="openSearch()", placeholder="").form-control.hidden-lg.hidden-sm.hidden-md
            .input-group-btn
              button.btn.btn-lg.btn-success(ng-click="openSearch()").hidden-xs Search
              button.btn.btn-success(ng-click="openSearch()").hidden-lg.hidden-sm.hidden-md
                span.glyphicon.glyphicon-search
      hr
      .row
        .col-sm-12
          p Find By Budget | 根據預算揀選：
        .col-sm-3.col-xs-6
          button.btn.btn-default.btn-block(ng-click="openSearch(50)") < HKD 50 
        .col-sm-3.col-xs-6
          button.btn.btn-default.btn-block(ng-click="openSearch(70)") < HKD 70 
        .col-sm-3.col-xs-6
          button.btn.btn-default.btn-block(ng-click="openSearch(90)") < HKD 90 
        .col-sm-3.col-xs-6
          button.btn.btn-default.btn-block(ng-click="openSearch(110)") < HKD 110
      hr
      .row
        .col-sm-12
          p Find By Day | 根據服務時間揀選：
        .col-xs-6
          button.btn.btn-default.btn-block(ui-sref='findHelper({day:"weekdays"})') 星期一至五
        .col-xs-6
          button.btn.btn-default.btn-block(ui-sref='findHelper({day:"weekends"})') 星期六／日
          
  section#selectors
    .container.text-center
      h2 What help do you need today? | 您是否需要以下服務?
      br
      .row
        .col-sm-4
          .card(ng-click='openSearch()')
            a
              .cardtop
                h3 Home cleaning | 家居清潔
              .cardbody
                img(src='../img/homecleaning@2x.jpg', style='width:100%;')
        .col-sm-4
          .card(ng-click='openSearch()')
            a
              .cardtop
                h3 Ironing & laundry | 衣物熨燙
              .cardbody
                img(src='../img/ironing@2x.jpg', style='width:100%;')
        .col-sm-4
          .card(ng-click='openSearch()')
            a
              .cardtop
                h3 Cooking |  家居煮食
              .cardbody
                img(src='../img/cooking@2x.jpg', style='width:100%;')
          
  section
    .container.text-center
      h3 All you need to hire a home helper, in one place.| 您的一站式家務助理解決方案
      br
      .row
        .col-sm-4
          img(src='../img/location.png').icons-lg
          h3 Find helpers easily | 輕鬆揀選
          p Find home helpers of your desired profile & their availability to work in your area.
          p 根據家務助理履歷及工作區域，親自揀選最啱心水的家務助理。
        .col-sm-4
          img(src='../img/deal.png').icons-lg
          h3 Hire with confidence | 稱心僱傭
          p Enjoy the freedom to negotiate price & terms with home helpers, with assistance from us.
          p 與家務助理講好雙方滿意的價錢與合約。
        .col-sm-4
          img(src='../img/cc.png').icons-lg
          h3 Pay without worries | 無憂支付
          p Get swift support for online payment & conflict resolution via our platform.
          p 輕鬆進行網上支付。不論您有任何疑問，我們將全程為您提供協助。
      .row    
        .col-sm-12
          h3 您是否需要更多資訊？
          p 請前去我們的 
            a(href='http://help.afteryou.co/article/26-how-do-i-start-using-afteryou', target='_blank') 幫助中心
            |  了解更多常見問題。

  //- section#howitworks
  //-   .container.text-center
  //-     h2 家務助理僱傭流程
  //-     br
  //-     .row
  //-       .col-sm-3
  //-         h4 第一步
  //-         p 通過我們的搜尋和篩選功能，瀏覽家務助理履歷。
  //-       .col-sm-3
  //-         h4 第二步
  //-         p 是否有您啱心水的家務助理？給出您理想的聘用條件來開始預約。
  //-       .col-sm-3
  //-         h4 第三步
  //-         p 商訂工作內容與聘用條件，僱傭最適合您的家務助理。
  //-       .col-sm-3
  //-         h4 第四步
  //-         p 服務前繳費，在我們的系統上追蹤您的付款狀況。
  //-     .row
  //-       .col-sm-12
  //-         p 您是否需要更多資訊？請前去我們的 
  //-           a(href='http://help.afteryou.co/article/26-how-do-i-start-using-afteryou', target='_blank') 幫助中心。
  section.contrastSection
    .container.text-center
      h2 Looking for work instead? | 您是否在尋找工作？ 
      p Sign up as a home helper. Make money helping other homeowners.
      p 註冊成為一名家務助理，賺錢助人兩不誤。
      //- a.btn.btn-default(href='http://jobs.askthewhale.com', target='_blank') Sign up as Home Helper
      a.btn.btn-default(ui-sref='sellerform') Sign up as Home Helper | 立即註冊
include altfooter.jade

        

partials/mainpage.html

<div ng-controller="MainPageController">
  <section class="main-splash">
    <div style="display:table; min-height:280px;" class="container text-center">
      <div class="jumbotron">
        <div class="row">
          <div class="col-sm-12">
            <h1>Find a freelance helper near you</h1>
            <h3>搜尋您家附近的家務助理</h3><br/>
            <p>All you need to hire helper in one place</p>
            <p>一站式的家務助理揀選、僱傭、支付平台</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="search-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>Find by Task | 根據服務內容揀選:</p>
          <div class="input-group">
            <input ng-click="openSearch()" placeholder="" class="form-control input-lg hidden-xs"/>
            <input ng-click="openSearch()" placeholder="" class="form-control hidden-lg hidden-sm hidden-md"/>
            <div class="input-group-btn">
              <button ng-click="openSearch()" class="btn btn-lg btn-success hidden-xs">Search</button>
              <button ng-click="openSearch()" class="btn btn-success hidden-lg hidden-sm hidden-md"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-12">
          <p>Find By Budget | 根據預算揀選：</p>
        </div>
        <div class="col-sm-3 col-xs-6">
          <button ng-click="openSearch(50)" class="btn btn-default btn-block">< HKD 50 </button>
        </div>
        <div class="col-sm-3 col-xs-6">
          <button ng-click="openSearch(70)" class="btn btn-default btn-block">< HKD 70 </button>
        </div>
        <div class="col-sm-3 col-xs-6">
          <button ng-click="openSearch(90)" class="btn btn-default btn-block">< HKD 90 </button>
        </div>
        <div class="col-sm-3 col-xs-6">
          <button ng-click="openSearch(110)" class="btn btn-default btn-block">< HKD 110</button>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-12">
          <p>Find By Day | 根據服務時間揀選：</p>
        </div>
        <div class="col-xs-6">
          <button ui-sref="findHelper({day:&quot;weekdays&quot;})" class="btn btn-default btn-block">星期一至五</button>
        </div>
        <div class="col-xs-6">
          <button ui-sref="findHelper({day:&quot;weekends&quot;})" class="btn btn-default btn-block">星期六／日</button>
        </div>
      </div>
    </div>
  </section>
  <section id="selectors">
    <div class="container text-center">
      <h2>What help do you need today? | 您是否需要以下服務?</h2><br/>
      <div class="row">
        <div class="col-sm-4">
          <div ng-click="openSearch()" class="card"><a>
              <div class="cardtop">
                <h3>Home cleaning | 家居清潔</h3>
              </div>
              <div class="cardbody"><img src="../img/homecleaning@2x.jpg" style="width:100%;"/></div></a></div>
        </div>
        <div class="col-sm-4">
          <div ng-click="openSearch()" class="card"><a>
              <div class="cardtop">
                <h3>Ironing & laundry | 衣物熨燙</h3>
              </div>
              <div class="cardbody"><img src="../img/ironing@2x.jpg" style="width:100%;"/></div></a></div>
        </div>
        <div class="col-sm-4">
          <div ng-click="openSearch()" class="card"><a>
              <div class="cardtop">
                <h3>Cooking |  家居煮食</h3>
              </div>
              <div class="cardbody"><img src="../img/cooking@2x.jpg" style="width:100%;"/></div></a></div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container text-center">
      <h3>All you need to hire a home helper, in one place.| 您的一站式家務助理解決方案</h3><br/>
      <div class="row">
        <div class="col-sm-4"><img src="../img/location.png" class="icons-lg"/>
          <h3>Find helpers easily | 輕鬆揀選</h3>
          <p>Find home helpers of your desired profile & their availability to work in your area.</p>
          <p>根據家務助理履歷及工作區域，親自揀選最啱心水的家務助理。</p>
        </div>
        <div class="col-sm-4"><img src="../img/deal.png" class="icons-lg"/>
          <h3>Hire with confidence | 稱心僱傭</h3>
          <p>Enjoy the freedom to negotiate price & terms with home helpers, with assistance from us.</p>
          <p>與家務助理講好雙方滿意的價錢與合約。</p>
        </div>
        <div class="col-sm-4"><img src="../img/cc.png" class="icons-lg"/>
          <h3>Pay without worries | 無憂支付</h3>
          <p>Get swift support for online payment & conflict resolution via our platform.</p>
          <p>輕鬆進行網上支付。不論您有任何疑問，我們將全程為您提供協助。</p>
        </div>
      </div>
      <div class="row">   
        <div class="col-sm-12">
          <h3>您是否需要更多資訊？</h3>
          <p>請前去我們的 <a href="http://help.afteryou.co/article/26-how-do-i-start-using-afteryou" target="_blank">幫助中心</a> 了解更多常見問題。</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contrastSection">
    <div class="container text-center">
      <h2>Looking for work instead? | 您是否在尋找工作？ </h2>
      <p>Sign up as a home helper. Make money helping other homeowners.</p>
      <p>註冊成為一名家務助理，賺錢助人兩不誤。</p><a ui-sref="sellerform" class="btn btn-default">Sign up as Home Helper | 立即註冊</a>
    </div>
  </section>
</div>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>
