templates/partials/sellerlist.jade
section.sellerlist(ng-controller="SellerListController")
    //- Display seller list
    .container
      .row
        //- Filter widget
        .col-md-3(ng-hide='sessionUser == null')
          include filters.jade
        .col-md-9(ng-show="sessionUser == null")
          include signup.jade
        .col-md-9(ng-show="sessionUser")#top
            //-  Can see list if is user
            div(ng-show="sellers == null")
              br
              img(src='../img/ajax_loader_gray.gif', style='width:60px;margin-left: auto;margin-right: auto;display: block;')
              br
              .col-xs-10.col-xs-push-1
                h3.text-center 正在為您生成家務助理列表，請您耐心等候⋯⋯
            h3.text-center(ng-show=' (sellers | filterTasksAnd:filter.tasks | filterPrice:filter.price | filterLocation:sessionUser.location | filterFaved:filter.fav).length == 0 && sellers') 目前沒有符合您需求的家務助理，請您更改搜尋條件⋯⋯
              br
            .list-group
              a.list-group-item(ng-repeat='seller in sellers | filterTasksAnd:filter.tasks | filterPrice:filter.price | filterLocation:sessionUser.location | filterFaved:filter.fav | limitTo:3', ui-sref='sellerDetail({sellerId: seller.id})', target="_blank")
                .media
                  .media-left
                    img.media-object.profilepic(src='../img/m-profile.png', ng-show='seller.gender == "Male"')
                    img.media-object.profilepic(src='../img/f-profile.png', ng-show='seller.gender == "Female"')
                  .media-body
                    .media-heading
                      h4.profilename.accent {{ seller.name }}
                      .small
                        .text-muted {{ seller.gender }},  {{ seller.age }} 歲
                        .text-muted {{seller.nationality}}                      
                  .media-right
                    p {{seller.price|currency}} /小時
                .media
                  .media-body
                    .small.text-muted 技能
                    p {{seller.tasks | translateTaskNames | flattenTasks }} 
                    .label.label-success(ng-show="seller.verified == true") 已驗證
                    .label.label-info(ng-show="seller.faved == true") 已收藏
                    .label.label-danger(ng-show="seller.currentRequestCount >= 4") 搶手助理
                    .label.label-warning(ng-show="seller.unresponsiveCount >= 1") 回復慢
                .media
                  p.text-muted {{ seller.sellerNotes | characters:100 }}
                  button.btn.btn-default(ui-sref='sellerDetail({sellerId: seller.id})', target="_blank") 查看詳情 >>
                          
            button.btn.btn-info(ng-click="shuffle(sellers, true);", ng-hide='sellers == null').pull-right 更多家務助理 >>
      hr

include altfooter.jade

partials/sellerlist.html

<section ng-controller="SellerListController" class="sellerlist">
  <div class="container">
    <div class="row">
      <div ng-hide="sessionUser == null" class="col-md-3">
        <div class="row">
          <div class="card">
            <div class="cardbody">
              <label>大家都付多少錢？</label>
              <h4 style="margin-top:-2px;" class="accent">{{ marketPrice | currency}} / 小時</h4>
              <button type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" class="btn btn-sm btn-default">搜索條件</button>
              <button ng-click="goToAnchor('setPrice')" class="btn btn-sm btn-default">價格提醒</button>
              <div id="collapseFilter" class="collapse">
                <hr/>
                <div class="form-group">
                  <label>選擇服務</label>
                  <div class="checkbox">
                    <label>
                      <input name="tasks" type="checkbox" ng-model="filter.tasks.h_cleaning" ng-change="shuffle(sellers, false);"/>深層清潔
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input name="tasks" type="checkbox" ng-model="filter.tasks.l_cleaning" ng-change="shuffle(sellers, false);"/>表層清潔
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input name="tasks" type="checkbox" ng-model="filter.tasks.wash_dry" ng-change="shuffle(sellers, false);"/>洗晾衣物
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input name="tasks" type="checkbox" ng-model="filter.tasks.ironing" ng-change="shuffle(sellers, false);"/>熨燙衣物
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input name="tasks" type="checkbox" ng-model="filter.tasks.meal_prep" ng-change="shuffle(sellers, false);"/>煮食備餐
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input name="tasks" type="checkbox" ng-model="filter.tasks.babysitting" ng-change="shuffle(sellers, false);"/>保姆陪月
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>選擇價格 {{ filter.price }}</label>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="filter.price" value="10.01"/>$50 / 小時 以內
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="filter.price" value="13.01"/>$70 / 小時 以內
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="filter.price" value="16.01"/>$90 / 小時 以內
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-model="filter.price" value="20.01"/>$110 / 小時 以內
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>我的收藏</label>
                  <div class="checkbox">
                    <label> 
                      <input type="checkbox" ng-model="filter.fav"/>只顯示我的收藏
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button ng-click="clearFilters();" class="btn btn-default">清除篩選</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="sessionUser == null" class="col-md-9">
        <div ng-controller="SignUpController">
          <div class="row">
            <div class="card">
              <div class="cardbody">
                <h3>Register to see results now! | 註冊即可瀏覽家務助理列表</h3>
                <hr/>
                <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate="novalidate">
                  <div class="form-group">
                    <label>Name | 姓名</label>
                    <input name="name" type="text" ng-model="buyer.name" required="required" class="form-control"/>
                    <div ng-messages="userForm.name.$error" class="errorMsg">
                      <p ng-message="required">請輸入您的姓名</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email | 電郵</label>
                    <input name="email" type="email" ng-model="buyer.email" required="required" class="form-control"/>
                    <div ng-messages="userForm.email.$error" class="errorMsg">
                      <p ng-message="email">請輸入您的電郵，以便我們及時通知您最新資訊</p>
                      <p ng-message="required">請輸入您的電郵，以便我們及時通知您最新資訊</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Password | 密碼</label>
                    <input name="pin" type="password" ng-model="buyer.pin" required="required" class="form-control"/>
                    <div ng-messages="userForm.pin.$error" class="errorMsg">
                      <p ng-message="required">請設置您的個人密碼</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Mobile Phone | 電話號碼</label>
                    <input name="phone" type="number" ng-model="buyer.phone" required="required" class="form-control"/>
                    <div ng-messages="userForm.phone.$error" class="errorMsg">
                      <p ng-message="required">請輸入您的電話號碼以便家務助理與您聯絡</p>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Personal Data Usage| 收集個人資料聲明</label>
                    <p class="small">By agreeing, you allow AfterYou to use your personal information for the purpose of finding helpers and future marketing,</p>
                    <p class="small">如您同意該條例，AfterYou將收集您的個人信息並可能用於為您提供服務，以及進行相關的宣傳工作。</p>
                    <div class="checkbox">
                      <label>
                        <input name="agree" type="checkbox" ng-model="buyer.pdpa" ng-required="!buyer.pdpa"/>I agree | 我同意以上條例
                      </label>
                      <div ng-messages="userForm.agree.$error" class="errorMsg">
                        <p ng-message="required">You must agree to proceed | 您必須同意以上條例以使用AfterYou的產品和服務</p>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success">Submit | '完成註冊'</button><br/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="sessionUser" id="top" class="col-md-9">
        <div ng-show="sellers == null"><br/><img src="../img/ajax_loader_gray.gif" style="width:60px;margin-left: auto;margin-right: auto;display: block;"/><br/>
          <div class="col-xs-10 col-xs-push-1">
            <h3 class="text-center">正在為您生成家務助理列表，請您耐心等候⋯⋯</h3>
          </div>
        </div>
        <h3 ng-show=" (sellers | filterTasksAnd:filter.tasks | filterPrice:filter.price | filterLocation:sessionUser.location | filterFaved:filter.fav).length == 0 &amp;&amp; sellers" class="text-center">目前沒有符合您需求的家務助理，請您更改搜尋條件⋯⋯<br/></h3>
        <div class="list-group"><a ng-repeat="seller in sellers | filterTasksAnd:filter.tasks | filterPrice:filter.price | filterLocation:sessionUser.location | filterFaved:filter.fav | limitTo:3" ui-sref="sellerDetail({sellerId: seller.id})" target="_blank" class="list-group-item">
            <div class="media">
              <div class="media-left"><img src="../img/m-profile.png" ng-show="seller.gender == &quot;Male&quot;" class="media-object profilepic"/><img src="../img/f-profile.png" ng-show="seller.gender == &quot;Female&quot;" class="media-object profilepic"/></div>
              <div class="media-body">
                <div class="media-heading">
                  <h4 class="profilename accent">{{ seller.name }}</h4>
                  <div class="small">
                    <div class="text-muted">{{ seller.gender }},  {{ seller.age }} 歲</div>
                    <div class="text-muted">{{seller.nationality}}                      </div>
                  </div>
                </div>
              </div>
              <div class="media-right">
                <p>{{seller.price|currency}} /小時</p>
              </div>
            </div>
            <div class="media">
              <div class="media-body">
                <div class="small text-muted">技能</div>
                <p>{{seller.tasks | translateTaskNames | flattenTasks }} </p>
                <div ng-show="seller.verified == true" class="label label-success">已驗證</div>
                <div ng-show="seller.faved == true" class="label label-info">已收藏</div>
                <div ng-show="seller.currentRequestCount &gt;= 4" class="label label-danger">搶手助理</div>
                <div ng-show="seller.unresponsiveCount &gt;= 1" class="label label-warning">回復慢</div>
              </div>
            </div>
            <div class="media">
              <p class="text-muted">{{ seller.sellerNotes | characters:100 }}</p>
              <button ui-sref="sellerDetail({sellerId: seller.id})" target="_blank" class="btn btn-default">查看詳情 >></button>
            </div></a></div>
        <button ng-click="shuffle(sellers, true);" ng-hide="sellers == null" class="btn btn-info pull-right">更多家務助理 >></button>
      </div>
    </div>
    <hr/>
  </div>
</section>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>
