partials/sellerdetail.html

<section class="sellerlist">
  <div ng-controller="SellerDetailController" class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="card">
            <div class="cardtop">
              <div class="row">
                <div class="col-xs-12">
                  <div class="media">
                    <div class="media-left"><img src="../img/m-profile.png" ng-show="seller.gender == &quot;Male&quot;" class="media-object profilepic"/><img src="../img/f-profile.png" ng-show="seller.gender == &quot;Female&quot;" class="media-object profilepic"/></div>
                    <div class="media-body">
                      <div class="media-heading">
                        <h4 class="profilename">{{ seller.name }}</h4>
                        <div class="text-muted">{{ seller.gender }},  {{ seller.age }} year old, {{seller.nationality}}</div>
                        <div class="text-muted">Registered {{ seller.createdAt | timeago }}</div>
                        <div ng-show="seller.verified == true" class="label label-success">已驗證</div>
                        <div ng-show="seller.faved == true" class="label label-info">已收藏</div>
                        <div ng-show="seller.currentRequestCount &gt;= 4" class="label label-danger">搶手助理</div>
                        <div ng-show="seller.unresponsiveCount &gt;= 1" class="label label-warning">回復慢</div>
                      </div>
                    </div>
                    <div class="media-right">
                      <h5>{{ seller.price | currency}} /小時</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cardbody">
              <div class="row">
                <div class="col-xs-12">
                  <div class="small text-muted">技能</div>
                  <p>{{seller.tasks | translateTaskNames | flattenTasks }} </p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="small text-muted">助理簡介</div>
                  <p>{{ seller.sellerNotes }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="small text-muted">繳費政策</div>
                  <p>服務前繳費，標準退款政策。</p>
                </div>
              </div>
              <div ng-hide="seller.totalSessionCount==0 || seller.completion==0" class="row">
                <div class="col-xs-6">
                  <div class="small text-muted">已完成工作 {{seller.completion | number:0}}%</div>
                  <uib-progressbar value="seller.completion"></uib-progressbar>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button ng-hide="seller.faved == true" ng-click="saveSeller(seller);" class="btn btn-default btn-sm">加入收藏夾</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <p ng-show="seller.offerCompleted==true" class="alert alert-success">您的申請已提交！ 如果 {{seller.name}} 接受了您的出價，將盡快與您聯絡。您可以選擇更多的家務助理，以從中揀選最啱心水的一個！ </p>
        <div ng-show="seller.offerCompleted!=true">
          <form name="offerPriceForm" ng-submit="offerPriceFunction(offerPriceForm.$valid, seller,expectedDate, requestNotes)" ng-hide="seller.offerToHire == true" class="setOffer">
            <h3>聯絡 {{ seller.name }}</h3>
            <label class="text-fade">您的出價</label>
            <div style="max-width:300px;" class="input-group"><span class="input-group-addon">$</span>
              <input name="price" ng-model="seller.offerPrice" type="number" placeholder="{{marketPrice}}" required="required" class="form-control"/><span class="input-group-addon">／小時</span>
            </div>
            <div ng-messages="offerPriceForm.price.$error">
              <p ng-message="number" class="small">請輸入有效的數字</p>
              <p ng-message="required" class="small">請輸入您的報價以聯絡 {{ seller.name }}</p>
            </div>
            <div class="form-group">
              <label>您需要家務助理工作的日期  ({{ expectedDate | date:"dd MMM" : '+0800'}})</label>
              <uib-datepicker ng-model="expectedDate" show-weeks="false" custom-class="getDayClass(date, mode)" required="required"></uib-datepicker>
            </div>
            <div class="form-group">
              <label>給家務助理的留言</label>
              <textarea ng-model="requestNotes" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">聯絡{{ seller.name }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div id="footerMenu" class="row">
      <div class="col-sm-12">
        <ul ng-hide="sessionUser" class="list-inline text-center">
          <li><a ui-sref="login">Login | 登入</a></li>
          <li>• </li>
          <li><a href="http://help.afteryou.co" target="_blank">Help Center | 幫助中心</a></li>
        </ul>
        <ul ng-show="sessionUser" class="list-inline text-center">
          <li><a href="http://blog.afteryou.co" target="_blank">網誌</a></li>
          <li>• </li>
          <li><a ui-sref="findHelper">揀選助理</a></li>
          <li>•</li>
          <li><a ui-sref="pending">預約狀況</a></li>
          <li>•</li>
          <li><a ui-sref="transactions">付款   </a></li>
          <li>•</li>
          <li><a href="http://help.afteryou.co" target="_blank">幫助中心</a></li>
          <li>•</li>
          <li><a ui-sref="logOut">登出</a></li>
        </ul>
      </div>
      <div class="col-sm-12 text-center"><img src="../img/outline@2x.png" style="max-width: 120px"/></div>
      <div class="col-sm-12 text-center"><br/>
        <p class="small">&copy; 2016 AfterYou Pte. Ltd.<br/>71 Ayer Rajah Crescent, Singapore 139951<br/>電郵: <a href="mailto:sayhello@afteryou.co">sayhello@afteryou.co</a></p>
      </div>
    </div>
  </div>
</footer>

templates/partials/sellerdetail.jade
section.sellerlist
  .container(ng-controller="SellerDetailController")
    .row
      .col-md-8
        .row
          .card
            .cardtop
              .row
                .col-xs-12
                  .media
                    .media-left
                      img.media-object.profilepic(src='../img/m-profile.png', ng-show='seller.gender == "Male"')
                      img.media-object.profilepic(src='../img/f-profile.png', ng-show='seller.gender == "Female"')
                    .media-body
                      .media-heading
                        h4.profilename {{ seller.name }}
                        .text-muted {{ seller.gender }},  {{ seller.age }} year old, {{seller.nationality}}
                        .text-muted Registered {{ seller.createdAt | timeago }}
                        .label.label-success(ng-show="seller.verified == true") 已驗證
                        .label.label-info(ng-show="seller.faved == true") 已收藏
                        .label.label-danger(ng-show="seller.currentRequestCount >= 4") 搶手助理
                        .label.label-warning(ng-show="seller.unresponsiveCount >= 1") 回復慢
                    .media-right
                      h5 {{ seller.price | currency}} /小時
            .cardbody
              .row
                .col-xs-12
                  .small.text-muted 技能
                  p {{seller.tasks | translateTaskNames | flattenTasks }} 
              .row
                .col-xs-12
                  .small.text-muted 助理簡介
                  p {{ seller.sellerNotes }}
              .row
                .col-xs-12
                  .small.text-muted 繳費政策
                  p 服務前繳費，標準退款政策。
              .row(ng-hide='seller.totalSessionCount==0 || seller.completion==0')
                .col-xs-6
                  .small.text-muted 已完成工作 {{seller.completion | number:0}}%
                  uib-progressbar(value="seller.completion")
                  //-  span.glyphicon.glyphicon-question-sign
              .row
                .col-xs-12
                  //- Favorite button
                  button.btn.btn-default.btn-sm(ng-hide="seller.faved == true", ng-click='saveSeller(seller);') 加入收藏夾
      .col-md-4
            p.alert.alert-success(ng-show='seller.offerCompleted==true') 您的申請已提交！ 如果 {{seller.name}} 接受了您的出價，將盡快與您聯絡。您可以選擇更多的家務助理，以從中揀選最啱心水的一個！ 
            div(ng-show='seller.offerCompleted!=true')
              form.setOffer(name="offerPriceForm", ng-submit="offerPriceFunction(offerPriceForm.$valid, seller,expectedDate, requestNotes)", ng-hide="seller.offerToHire == true")
                h3 聯絡 {{ seller.name }}
                label.text-fade 您的出價
                .input-group(style='max-width:300px;')
                  span.input-group-addon $
                  input(name="price", ng-model="seller.offerPrice", type='number', placeholder='{{marketPrice}}', required).form-control
                  span.input-group-addon ／小時
                div(ng-messages='offerPriceForm.price.$error')
                  p(ng-message='number').small 請輸入有效的數字
                  p(ng-message='required').small 請輸入您的報價以聯絡 {{ seller.name }}
                .form-group
                  label 您需要家務助理工作的日期  ({{ expectedDate | date:"dd MMM" : '+0800'}})
                  uib-datepicker(ng-model="expectedDate", show-weeks="false", custom-class="getDayClass(date, mode)", required)
                .form-group
                  label 給家務助理的留言
                  textarea.form-control(ng-model='requestNotes')
                button.btn.btn-success(type="submit") 聯絡{{ seller.name }}
        
include altfooter.jade
