partials/signup.html

<div ng-controller="SignUpController">
  <div class="row">
    <div class="card">
      <div class="cardbody">
        <h3>Register to see results now! | 註冊即可瀏覽家務助理列表</h3>
        <hr/>
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate="novalidate">
          <div class="form-group">
            <label>Name | 姓名</label>
            <input name="name" type="text" ng-model="buyer.name" required="required" class="form-control"/>
            <div ng-messages="userForm.name.$error" class="errorMsg">
              <p ng-message="required">請輸入您的姓名</p>
            </div>
          </div>
          <div class="form-group">
            <label>Email | 電郵</label>
            <input name="email" type="email" ng-model="buyer.email" required="required" class="form-control"/>
            <div ng-messages="userForm.email.$error" class="errorMsg">
              <p ng-message="email">請輸入您的電郵，以便我們及時通知您最新資訊</p>
              <p ng-message="required">請輸入您的電郵，以便我們及時通知您最新資訊</p>
            </div>
          </div>
          <div class="form-group">
            <label>Password | 密碼</label>
            <input name="pin" type="password" ng-model="buyer.pin" required="required" class="form-control"/>
            <div ng-messages="userForm.pin.$error" class="errorMsg">
              <p ng-message="required">請設置您的個人密碼</p>
            </div>
          </div>
          <div class="form-group">
            <label>Mobile Phone | 電話號碼</label>
            <input name="phone" type="number" ng-model="buyer.phone" required="required" class="form-control"/>
            <div ng-messages="userForm.phone.$error" class="errorMsg">
              <p ng-message="required">請輸入您的電話號碼以便家務助理與您聯絡</p>
            </div>
          </div>
          <div class="form-group">
            <label>Personal Data Usage| 收集個人資料聲明</label>
            <p class="small">By agreeing, you allow AfterYou to use your personal information for the purpose of finding helpers and future marketing,</p>
            <p class="small">如您同意該條例，AfterYou將收集您的個人信息並可能用於為您提供服務，以及進行相關的宣傳工作。</p>
            <div class="checkbox">
              <label>
                <input name="agree" type="checkbox" ng-model="buyer.pdpa" ng-required="!buyer.pdpa"/>I agree | 我同意以上條例
              </label>
              <div ng-messages="userForm.agree.$error" class="errorMsg">
                <p ng-message="required">You must agree to proceed | 您必須同意以上條例以使用AfterYou的產品和服務</p>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Submit | '完成註冊'</button><br/>
        </form>
      </div>
    </div>
  </div>
</div>

templates/partials/signup.jade
div(ng-controller='SignUpController')
  .row
    .card
      .cardbody
        h3 Register to see results now! | 註冊即可瀏覽家務助理列表
        hr
        form(name="userForm", ng-submit="submitForm(userForm.$valid)", novalidate)
          .form-group
            label Name | 姓名
            input(name='name', type='text', ng-model="buyer.name", required).form-control
            div(ng-messages='userForm.name.$error').errorMsg
              p(ng-message='required') 請輸入您的姓名
          .form-group
            label Email | 電郵
            input(name='email', type='email', ng-model="buyer.email", required).form-control
            div(ng-messages='userForm.email.$error').errorMsg
              p(ng-message='email') 請輸入您的電郵，以便我們及時通知您最新資訊
              p(ng-message='required') 請輸入您的電郵，以便我們及時通知您最新資訊
          .form-group
            label Password | 密碼
            input(name='pin', type='password', ng-model="buyer.pin", required).form-control
            div(ng-messages='userForm.pin.$error').errorMsg
              p(ng-message='required') 請設置您的個人密碼
          .form-group
            label Mobile Phone | 電話號碼
            input(name='phone', type='number', ng-model="buyer.phone", required).form-control
            div(ng-messages='userForm.phone.$error').errorMsg
              p(ng-message='required') 請輸入您的電話號碼以便家務助理與您聯絡
          .form-group
            label Personal Data Usage| 收集個人資料聲明
            p.small By agreeing, you allow AfterYou to use your personal information for the purpose of finding helpers and future marketing,
            p.small 如您同意該條例，AfterYou將收集您的個人信息並可能用於為您提供服務，以及進行相關的宣傳工作。
            .checkbox
              label
                input(name="agree", type='checkbox', ng-model="buyer.pdpa", ng-required='!buyer.pdpa') 
                | I agree | 我同意以上條例
              div(ng-messages='userForm.agree.$error').errorMsg
                p(ng-message='required') You must agree to proceed | 您必須同意以上條例以使用AfterYou的產品和服務
          
          button(type="submit").btn.btn-success Submit | '完成註冊'
          br
