templates/partials/top-menu.jade
nav.navbar
  .container(ng-controller="MenuController", ng-cloak)
    .navbar-header
      button(type='button', ui-sref='login', ng-hide='sessionUser').navbar-toggle
        span 登入
      //- a(href='http://afteryou.helpscoutdocs.com', target='_blank', ng-hide='sessionUser').btn-default.navbar-toggle
      //-   span FAQ
      button(type='button', data-toggle='collapse', data-target='#topMenu', aria-expanded='false', ng-show='sessionUser').navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span 菜單
        span.badge(ng-show="jobCount > 0") {{jobCount}}
      a(ui-sref='/')
        img#logo(src='../img/logo_new@2x.png')
    .collapse.navbar-collapse#topMenu
      div(ng-hide='sessionUser')
        ul.nav.navbar-nav.navbar-right
          li
            a(href='http://help.afteryou.co', target='_blank') Help | 幫助中心 
          li
            a(ui-sref='login') 登入
      div(ng-show='sessionUser')
        ul.nav.navbar-nav.navbar-right
          li
            a(ui-sref='findHelper') 家務助理列表
          //- li
          //-   a(ui-sref='messages') Messages
          li
            a(ui-sref='pending') 預約狀況
              span.badge(ng-show="jobCount > 0") {{jobCount}}
          li
            a(ui-sref='transactions') 付款
              span.badge(ng-show="jobCount > 0") {{jobCount}}
          li
            a(href='http://afteryou.helpscoutdocs.com', target='_blank') 幫助中心
          li.dropdown
            a(href='#', data-toggle='dropdown').dropdown-toggle {{ sessionUser.name }}  
              span.caret
            ul.dropdown-menu
              li
                a(ui-sref='myProfile') 更新個人資料
              li
                a(ui-sref='logOut') 登出

partials/top-menu.html

<nav class="navbar">
  <div ng-controller="MenuController" ng-cloak="ng-cloak" class="container">
    <div class="navbar-header">
      <button type="button" ui-sref="login" ng-hide="sessionUser" class="navbar-toggle"><span>登入</span></button>
      <button type="button" data-toggle="collapse" data-target="#topMenu" aria-expanded="false" ng-show="sessionUser" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span>菜單</span><span ng-show="jobCount &gt; 0" class="badge">{{jobCount}}</span></button><a ui-sref="/"><img id="logo" src="../img/logo_new@2x.png"/></a>
    </div>
    <div id="topMenu" class="collapse navbar-collapse">
      <div ng-hide="sessionUser">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://help.afteryou.co" target="_blank">Help | 幫助中心 </a></li>
          <li><a ui-sref="login">登入</a></li>
        </ul>
      </div>
      <div ng-show="sessionUser">
        <ul class="nav navbar-nav navbar-right">
          <li><a ui-sref="findHelper">家務助理列表</a></li>
          <li><a ui-sref="pending">預約狀況<span ng-show="jobCount &gt; 0" class="badge">{{jobCount}}</span></a></li>
          <li><a ui-sref="transactions">付款<span ng-show="jobCount &gt; 0" class="badge">{{jobCount}}</span></a></li>
          <li><a href="http://afteryou.helpscoutdocs.com" target="_blank">幫助中心</a></li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ sessionUser.name }}  <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a ui-sref="myProfile">更新個人資料</a></li>
              <li><a ui-sref="logOut">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
